/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #696969;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* #Images
============ */

img {
    vertical-align: middle;
}
img.scale-with-grid {
        border : 0;
        max-width: 100%;
        height: auto; }

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Open Sans @font-face kit
   ========================================================================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
  url('OpenSans-Light.woff') format('woff'),
  url('OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
  url('OpenSans-Italic.woff') format('woff'),
  url('OpenSans-Italic.ttf') format('truetype');
}
 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
  url('OpenSans-Bold.woff') format('woff'),
  url('OpenSans-Bold.ttf') format('truetype');
}
 
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('OpenSans-Regular.woff') format('woff'),
  url('OpenSans-Regular.ttf') format('truetype');
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    background: #f2f2f2;
    color: #696969;
    font-family:'Open Sans', Helvetica, Helvetica Neue, Arial;
    font-size: 100%/1.6; 
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.container {
    margin: 0px auto;
    max-width: 1000px;
    overflow: auto;
    padding: 0px;
    text-align: left;
    width: 88%; /* 960px / 1024px */
}

.content {
    width: 100%;
    padding: 80px 0 0 0;
}

.wrapper {
    width: 100%;
    margin: 0;
}



/* #Horizontal Rule - hr =============== */
hr { 
    border: solid #ddd; 
    border-width: 1px 0 0; 
    clear: both; 
    margin: 30px 0 30px; 
    height: 0; 
    }


/* #Typography =============== */
h1, h2, h3, h4, h5, h6 {}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
    font-weight: inherit; 
    text-decoration: none; 
}

h1 { 
    font-size: 2.4em; /* 46px / 16px */ 
    font-weight: 300;
    line-height: 1.3em; /* 50px / 16px */ 
    margin-bottom: 22px;
}
h2 { 
    font-size: 1.6em; 
    font-weight: 700;
    line-height: 1.5em; 
    margin-bottom: 10px; 
}
h3 { 
    font-size: 1.2em; 
    font-weight: 700;
    line-height: 1.5em; 
    text-transform: uppercase;
}
p {
    padding: 5px 10%;

}

/* #Colours =============== */
.blue {color: #1d70b7;}
.pink {color: #e5007e;}
.orange {color: #f9a946;}




/* ============
    ALL: Header
   ============ */

header.main {
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 10;
}

.title {
    color: white;
}

/* #Logo =============== */
a.logo img {
    padding: 0;
    margin:  6px 0px;
}

#top {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a,nav a:visited {
    border-left: 1px solid #cccccc;
    display: block;
    margin:0px;
    padding: 16px 3%;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #c9c9c9;
}
nav a:link {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav li:last-child a {
    border-right: 1px solid #cccccc;
}
nav a:hover {
    color: #1d70b7;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 0 0 20px 20px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.white-panel {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 40px;
    padding: 50px 10%;
    overflow: auto;
    text-align: center;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.minus-padding {
    padding: 15px 10% 0px;
}
.centre .panel:first-child {
    margin: 0px 0 0 3%;
}

.panel p {
    margin-bottom: 60px;
}
.panel p a, .panel p a:visited{
    border-bottom: 1px dotted #e5007e;
    color: #696969;
    font-size: 0.8em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    }

.panel p a:hover {
    color:#e5007e;
}

.benefits {
    background-color: #1d70b7;
    margin: 20px 0 20px 0;
    padding: 10% 15%;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.speakers {
    background-color: #cccccc;
    margin: 20px 0 20px 0;
    padding: 10% 15%;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.schedule {
    background-color: #f9a946;
    margin: 0;
    padding: 20% 10%;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}

#benefits,#speakers,#schedule {
padding-top: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


.speakers-container {
    float: left;
    width: 49.16%;
}
.speakers-container:last-child {
    margin-left: 1.6%;
}
.speakers-container .white-panel {
    text-align: left;
    padding: 0;
}
.speakers-container img{
    float: left;
}
.speakers-container p{
    padding-left: 0;
    padding-right: 0;
}

.text {
    float: left;
    padding: 3.4%;
    width: 60%;

}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    header,
    .main aside {
        -webkit-box-shadow: 0 1px 10px #696969;
           -moz-box-shadow: 0 1px 10px #696969;
                box-shadow: 0 1px 10px #696969;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 58%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}